/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: #0E002A; 
    background-image: url('images/background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

header {
    background-color: black;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scrolling-text{
    white-space: nowrap; /* Prevent text from wrapping */
    color: #50F361; /* Text color */
    font-size: 15px; /* Adjust font size as needed */
    position: absolute;
    display: inline-block;
    animation: scroll-left 50s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(105%); /* Start off-screen (right) */
    }
    100% {
        transform: translateX(-100%); /* Move completely off-screen (left) */
    }
}

nav {
    border: 0;
    background-color: #bf65a0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 12px;
    color: #50f361;
}

/* Hero Section */
#hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h2 {
    color: white;
}

.hero-content iframe{
    margin-top: 20px;
}

.cta-button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

/* Featured Products */
#featured {
    padding: 50px 0;
}

.product-grid {
    display: flex;
    justify-content: space-around;
}

.product-item img {
    width: 200px;
}

footer {
    text-align: center;
    padding: 0px 0;
}

.footer-img {
    max-width: 100%;
    height: auto;
}

/* Shop Page Specific Styles */
#shop h2 {
    text-align: center;
    margin-top: 50px;
 }
 
 .add-to-cart-btn {
    background-color: #28a745; /* Green Button */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
 }
