.section-header {
    font-size: 28px;
    color: white;
}

.section-lesser {
    font-size: 18px;
    color: white;
}

.video {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .section-header{
        font-size: 26px;
    }
}