@font-face {
    font-family: 'Public Pixel';
    src: url('PublicPixel.woff2') format('woff2'),
        url('PublicPixel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

